.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }

  h1 {
    padding-left: 20px;
  }

  #html-link, #css-link {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 10px 20px;
    border: 1px;
    border-color: black;
  }